<div class="col-md-3">
  <div class="section__filters">
    <%= search_form_for @q, url: market_products_path do |f| %>
      <p class="section__descripcion"><%= @products.count %> Resultados</p>
      <div class="section__tags">
        <% @selected_categories.each do |categories| %>
          <div class="section__tag"><%= categories.name %> <span class="fa fa-close"></span></div>
        <% end %>
      </div>
      <div class="section__filters__category">
        <h5 class="section__title">Categorias</h5>
        <%= f.collection_check_boxes(:sub_category_category_id_in, @categories, :id, :name) do |b| %>
          <ul>
            <%= b.check_box(style: "display:none;", onclick: "submit()") %>
            <%= b.check_box(style: "display:none;", value: :category) %>
            <%= b.label("data-value": :category) %>
          </ul>
        <% end %>
      </div>
      <div class="section__tags">
        <% @sub_categories.each do |sub_category| %>
          <div class="section__tag"><%= sub_category.name %> <span class="fa fa-close"></span></div>
        <% end %>
      </div>
      <div class="section__filters__category">
        <h5 class="section__title">Sub categorias</h5>
        <%= f.collection_check_boxes(:sub_category_id_in, @sub_categories, :id, :name) do |b| %>
          <ul>
            <%= b.check_box(style: "display:none;", onclick: "submit()") %>
            <%= b.label %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>