<div class="row">
  <div class="col-2">
  <h4>Información personal</h4>
  </div>
</div>
<div class="row">
  <div class="col-4">
  <%= form_with model: user, class: 'form' do |f| %>
    <div class="form__element">
      <%= f.label :name, class: 'form__title' %>
      <%= f.text_field :name, class: 'form__input' %>
    </div>
    <div class="form__element">
      <%= f.label :email, class: 'form__title' %>
      <%= f.text_field :email, class: 'form__input' %>
    </div>
    <% if user.admin?%>
    <div class="form__element">
      <%= f.label :role, class: 'form__title' %>
      <%= f.text_field :role, class: 'form__input' %>
    </div>
    <% end%>
    <div class="form__element">
      <%= f.label :password, class: 'form__title' %>
      <%= f.password_field :password, class: 'form__input' %>
    </div>
    <div class="form__element">
      <%= f.label :password_confirmation, class: 'form__title' %>
      <%= f.password_field :password_confirmation, class: 'form__input' %>
    </div>
    <div class="row">
      <div class="col-2">
        <h4>Direcciones de despacho</h4>
      </div>
    </div>
    <%= f.fields_for :delivery_addresses do |address| %>
        <div class="form__element">
          <%= address.label :name, class: 'form__title' %>
          <%= address.text_field :name, class: 'form__input' %>
        </div>
        <div class="form__element">
          <%= address.label :street_name, class: 'form__title' %>
          <%= address.text_field :street_name, class: 'form__input' %>
        </div>
        <div class="form__element">
          <%= address.label :street_number, class: 'form__title' %>
          <%= address.text_field :street_number, class: 'form__input' %>
        </div>
        <div class="form__element">
          <%= address.label :commune, class: 'form__title' %>
          <%= address.collection_select :commune, Commune.all, :id, :name, {include_blank: 'Seleccionar'}, class: 'form__input' %>
        </div>
        <div class="form__element">
          <%= address.label :postal_code, class: 'form__title' %>
          <%= address.text_field :postal_code, class: 'form__input' %>
        </div>
    <% end %>
    </div>
    <div class="form__element">
      <%= f.submit class: 'btn form__input' %>
    </div>
  <% end %>
  </div>
</div>
