<% entity_url = entity.new_record? ? maintainers_path(entity_class: params[:entity_class]) : maintainer_path(entity_class: params[:entity_class]) %>
<%= form_with(model: entity, url: entity_url) do |form| %>
  <% if entity.errors.any? %>
    <ul>
      <% entity.errors.each do |error| %>
        <li><span class="badge bg-danger text-white" style="font-size: 15px"><%= error.full_message %></span></li>
      <% end %>
    </ul>
  <% end %>
  <% @entity_columns.excluding(:id, :created_at, :updated_at).each do |column| %>

  <div class="row col-3">
    <%= form.label column, style: "display: block" %>
    <% if column.to_s.include?("_id") %>
      <%= form.collection_select column, association_collection(entity, column), :id, :name, {include_blank: "Seleccionar"}, class: "form-control" %>
    <% else %>
      <%= form.text_field column, class: "form-control" %>
    <% end %>
  </div>
  <% end %>


  <% if @model.to_s == "Product"%>
    <%= form.label :image, "Seleccionar imagen", class: "form-label"%><br />
    <%= form.file_field :image, class: "form__input"%>
  <% end %>

  <div class="row my-3">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
