<p style="color: green"><%= notice %></p>

<h1><%= @model.to_s.pluralize %></h1>

<div id="categories">
  <table class="table">
    <thead>
      <tr>
        <% @entity_columns.each do |column| %>
        <th><%= column %></th>
        <% end %>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @entities.each do |entity| %>
    <tr>
      <% @entity_columns.each do |column| %>
        <td><%= column.to_s.include?("_id") ? association_name(entity, column, entity[column]) : entity[column] %></td>
      <% end %>
      <td>
      <%= link_to "Editar", edit_maintainer_path(id: entity, entity_class: params[:entity_class]), class: "btn btn-warning" %>
      <%= link_to "Eliminar", maintainer_path(entity, entity_class: params[:entity_class]), method: :delete, data: {confirm: "¿Está seguro(a) de eliminar?"}, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New #{params[:entity_class]}", new_maintainer_path(entity_class: params[:entity_class]) %>
