<!DOCTYPE html>
<html lang="es">
  <head>
    <%= favicon_link_tag '', rel: 'shortcut icon' %>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>EcoPrint - web</title>
    <meta name="description" content="Tienda de ropa ecológica">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="EcoPrint - Web" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Tienda de ropa ecológica" />
    <meta property="og:site_name" content="Eco Print" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="twitter">
    <meta name="twitter:title" content="EcoPrint Twitter">
    <meta name="twitter:description" content="Tienda de ropa ecológica">
    <meta name="twitter:creator" content="IN GR">
    <meta name="twitter:image:src" content=" ">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
    <!-- Font awesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <header>
      <div class="header__secondary">
        <div class="header__wrap">
          <div class="header__inner">
            <div class="header__search">
              <%= search_form_for @q, url: market_products_path do |f| %>
                <div class="header__input">
                  <%= f.search_field :name_cont, placeholder: "Buscar Producto"%>
                  <div class="header__button">
                    <button type="submit" class=""><span class="fa fa-search"></span></button>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="header__right">
              <div class="header__item header__item--social">
                <div class="header__social"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
              </div>
              <div class="header__item header__item--social">
                <div class="header__social"><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
              </div>
              <div class="header__item header__item--social">
                <div class="header__social"><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__primary">
        <div class="header__wrap">
          <div class="header__inner">
            <div class="header__logo"><%= link_to image_pack_tag("media/img/ecoprint_logo.jpg"), root_path %></div>
            <div class="header__nav">
              <div class="header__nav__bg"></div>
              <div class="header__nav__nav">
                <div class="header__nav__bar">
                  <div class="header__logo"><a href="index.html"><img src=""></a></div>
                  <div class="header__nav__close">
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div class="header__nav__back">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <nav>
                  <ul>
                    <li><%= link_to 'Inicio', index_path %></li>
                    <li><%= link_to "Productos", market_products_path %></li>
                    <li><%= link_to "Categorías", market_categories_path %></li>
                    <% if current_user&.admin? %>
                    <li><%= link_to "Administracion", administration_index_path %></li>
                    <% end %>
                    <li>
                    <%=
                      link_to_if(current_user.nil?, "Iniciar Sesión", new_user_session_path) do
                        link_to("Mi Perfil", current_user)
                      end
                    %>
                    </li>
                    <li>
                    <a href="/market/shopping_cart" class="fs-6"><span class="badge bg-dark"><%= current_user&.shopping_carts&.size %></span><i class="fa fa-basket-shopping fs-3"></i></a>
                    </li>
                    <li>
                    <%= link_to_if current_user, "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn--sm" do 
                      
                    end
                    %>
                    </li>
                  </ul>
                </nav>
                <div class="header__nav__buttons" style="visibility:hidden;">
                  <%= link_to_if current_user, "Ir a mi cuenta", current_user, class: "btn btn--sm" do 
                      link_to("Regístrate", new_user_registration_path, class: "btn btn--sm btn--secondary")
                    end
                  %>
                  <%= link_to_if current_user, "Cerrar sesión", new_user_session_path, class: "btn btn--sm" do 
                      link_to("Iniciar sesión", destroy_user_session_path, method: :delete, class: "btn btn--sm btn--secondary")
                    end
                  %>
              </div>
            </div>
            <div class="header__right">
              <div class="header__item header__item--button" style="visibility:hidden;">
                <%= link_to_if current_user, "Cerrar sesión", new_user_session_path, class: "btn btn--sm" do 
                      link_to("Iniciar sesión", destroy_user_session_path, method: :delete, class: "btn btn--sm btn--secondary")
                    end
                %>
              </div>
              <div class="header__item header__item--button" style="visibility:hidden;">
                <a href="/users/sign_up" class="btn btn--sm btn--secondary">Registrate</a>
              </div>
              <div class="header__item header__item--ham">
                <div class="header__ham"><span></span><span></span><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="sections">
      <%= yield %>
      <section class="section--newsletter section--light">
        <div class="section__wrap section__wrap--xs">
          <div class="section__body">
            <div class="section__newsletter">
              <div class="section__bg">
                <div class="bg"><%= image_tag "" %></div>
              </div>
              <div class="section__content">
                <h4 class="section__title">¿Deseas recibir información de nuevos productos?</h4>
                <p class="section__description">Registra tu email y te informaremos cuando haya productos que se ajusten a
                  tus gustos o necesidades
                </p>
              </div>
              <div class="section__form">
                <form class="form">
                  <div class="form__element">
                    <div class="form__title">Email</div>
                    <div class="form__input">
                      <input type="email" name="#">
                    </div>
                    <div class="form__button">
                      <button class="btn btn--secondary">Suscribirse</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Ecoprint</span></strong>. Todos los derechos reservados
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </footer>
  </body>
</html>
